<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games Developers</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>

    <header id="header">

        <nav>

            <div>

                <a href="../index.html"><img class="header__logo" src="../img/LOGO2.png" alt="logo"></a>

                <p class="header__text__logo">DIG</p>

            </div>

            <ul class="header__menu">

                <li class="header__li">
                    <a href="../index.html">Home</a>
                </li>

                <li class="header__li">
                    <a href="../views/contact.html">Contact</a>
                </li>

                <li class="header__li">
                    <a href="../views/games.html">Games</a>
                </li>

                <li class="header__li">
                    <a href="../views/about-us.html">About us</a>
                </li>

                <li class="header__li">
                    <a href="../views/sales-in-steam.html">Sales in steam</a>
                </li>

            </ul>

        </nav> 

    </header>

    <article>
        
    </article>

    <hr>

    <footer id="footer">

            <h3 class="footer__title1">follow us</h3>

            <div class="footer__div">

                <a class="header__a" href="https://www.facebook.com/" target="_blank"><img class="footer__redes" src="../img/facebook.jpg" alt="facebook"></a>

                <a class="header__a" href="https://www.linkedin.com" target="_blank"><img class="footer__redes" src="../img/link.jpg" alt="linkedin"></a>

                <a class="header__a" href="https://twitter.com/home" target="_blank"><img class="footer__redes" src="../img/twitter.jpg" alt="twitter"></a>

            </div>

            <div>

                <a href="./index.html"><img class="footer__logo" src="./img/LOGO2.png" alt="logo"></a>
    
                <p class="footer__text__logo">DIG</p>
    
            </div>

            <h3 class="footer__title2">office</h3>

            <p class="footer__p">Fitz Roy 1519, C1414 CABA</p>

            <p class="footer__p">Buenos aires, Argentina</p>

            <iframe class="footer__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.732830458577!2d-58.439990684770855!3d-34.585626180464125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb58da9e8c247%3A0x5dba43f105843952!2sFitz%20Roy%201519%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1637950284345!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            
    </footer>
</body>
</html>